###############################################################################
#   @author         :   Jeffrey Stone 
#   @date           :   07/09/2019
#   @package        :   Jarvis
#   @description    :   Bringing some Jarvis to Home Assistant
###############################################################################

input_boolean:
  house_party_protocol_switch:
    name: House Party Switch

automation:
  - id: house_party_protocol_on
    alias: Turn On House Party Protocol
    initial_state: true
    trigger:
    - platform: state
      entity_id: input_boolean.house_party_protocol_switch
      to: 'on'
    action:
    - service: homeassistant.turn_on
      entity_id: group.incense
    - delay: 00:00:05
    - service: script.status_annc
      data_template:
        who: '{{ states.sensor.room_presence.state }}'
        call_house_party_protocol_enabled: 1
  
  - id: house_party_protocol_off
    alias: Turn Off House Party Protocol
    initial_state: true
    trigger:
    - platform: state
      entity_id: input_boolean.house_party_protocol_switch
      to: 'off'
    action:
    - service: homeassistant.turn_off
      entity_id: group.incense
    - delay: 00:00:05
    - service: script.status_annc
      data_template:
        who: '{{ states.sensor.room_presence.state }}'
        call_house_party_protocol_disabled: 1
            
script:

  alexa_interjection:
    sequence:
      - service: script.status_annc
        data:
          who: '{{ states.sensor.alexa_audio.state}}'
          call_interuption: 1

  google_interjection:
    sequence:
      - service: script.status_annc
        data:
          who: '{{ states.sensor.room_audio.state }}'
          call_interuption: 1


