known_devices.yaml
secrets.yaml
entity_registry.yaml
.HA_VERSION
zones.yaml
sensors/location.yaml
scripts/tornado_alarm.yaml
scripts/test_alarm.yaml
scripts/security_alarm.yaml
*ios.conf
*.log
*.db
*.xml
*.sqlite
*.txt
icloud/
www/
tts/
deps/
*DS_Store
._*
.uuid
!.gitignore
