# Ignore everything explicitly
*


# Whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!templates/
!binary_sensors/
!sensors/
!packages/
!switches/
!lights/
!python_scripts/
!alerts/
!scripts/


# Then because I'm paranoid...
# Ignore folders.
.storage
.cloud
.google.token
.homekit.state
icloud/
www/
tts/
deps/
hadashboards/
intents/
secrets.yaml
ip_bans.yaml
._*
google_calendars.yaml
known_devices*
zones.yaml
scripts/test.yaml
